mixin breadcrumbs(url='/',label='Back')
	a.breadcrumbs(href=url) &lsaquo; 
		span= label

mixin footer
	p.footer
	| © 2019 Taxi Buddies. 
	a(href='/about') About &rsaquo;

mixin tablespacer
	tr
		td.time &#8203;
		td &#8203;

mixin venue(name,label,url,map,time,address)
	tr
		td
			a(href=url) 
				span=label 
				span &#8203; &rsaquo;
		td 
			a(href=map, target='_blank')
				span.venue=name 
				span &#8203; &nearr;
	tr
		td=time
		td=address

	+tablespacer
	+tablespacer

mixin photostatic(href,name)
	.photostatic(style=href, alt=name)

mixin photo(href,name)
	.photo(style=href, alt=name)
		span= name

